<app-header></app-header>
<br><br>
<img id="#contacts" class="center" src="https://th.bing.com/th/id/R98d07b66f659fa8972435b76d4a925ab?rik=Cw6rjiy%2bn8fv%2fg&riu=http%3a%2f%2fkdwa-kw.org%2fimages%2fpic1.png&ehk=jjwEZflnC0TVSATZggbRGULRiUv74Ndr5Mk4Xz7X9IQ%3d&risl=&pid=ImgRaw" height="150" width="150">
<p id="#contacts" class="center"><br><B>{{name1}}</B>
    <br>{{address1}}
    <br>{{email1}}
    <br>{{id1}}
    <br><br><B>{{name2}}</B>
    <br>{{address2}}
    <br>{{email2}}
    <br>{{id2}}
</p>
<app-footer></app-footer>
