<ul  class= "list-group">
    <br>
    <h4><b>Catagories</b></h4>
    <br>
    <a (click)="showSamsung()" class="list-group-item d-flex justify-content-between align-items-center width">{{ category[0].Name}}
        <span class="badge badge-primary badge-pill" >5</span>
    </a>
    <a (click)="showApple()" class="list-group-item d-flex justify-content-between align-items-center width">{{ category[1].Name}}
        <span class="badge badge-primary badge-pill">5</span>
    </a>
    <a (click)="showXiaomi()" class="list-group-item d-flex justify-content-between align-items-center width">{{ category[2].Name}}
        <span class="badge badge-primary badge-pill">5</span>
    </a>
    <a (click)="showLG()" class="list-group-item d-flex justify-content-between align-items-center width">{{ category[3].Name}}
        <span class="badge badge-primary badge-pill">5</span>
    </a> 
    <a (click)="showHuawei()" class="list-group-item d-flex justify-content-between align-items-center width    ">{{ category[4].Name}}
        <span class="badge badge-primary badge-pill">5</span>
    </a>  
</ul> 
<br><br><br><br>