.ng-valid[required]{
    border-left: 5px solid #42a948;
}

.ng-invalid:not(form){
    border-left: 5px solid #a94442;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color:black;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(14, 5, 5, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  div{
    text-align: left;
    text-transform: uppercase;
    color:black;
  }
  