.card{
    margin-left: 5px;   
}

.card:hover{
    box-shadow: 8px 8px 8px black;
    transform: translatey(-10px);
}

img{
    width: 100px;
    height: 100px;
}

.center {
    text-align: center
    }

.selected{
    font-weight: bold;
}
