<app-header></app-header>
<h1>welcome</h1>
<h3>Products of the week</h3>
<br>
<div class="row">
    <ng-container *ngFor="let prudect of Products">
      <ng-container *ngIf="prudect.Price>3980"> 
          <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{prudect.Category}}</div>
            <div class="card-body">
              <h4 class="card-title">{{prudect.Name}}</h4>
              <p class="card-text"><img src="{{prudect.ImgUrl}}"></p>
              <p class="price">{{prudect.Price}}₪</p>
              <details >
                <summary>Details</summary>
                <p>{{prudect.Description}}</p>
              </details>
              <br>
              <button type="button" (click)="addToCart(prudect)">Add to Cart</button> 
            </div>
          </div>
      </ng-container>
    </ng-container> 
    </div>
<br><br>
<h3>The new products</h3>
<br>
<div class="row">
    <ng-container *ngFor="let prudect of Products">
      <ng-container *ngIf="prudect.Category=='Samsung'"> 
          <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{prudect.Category}}</div>
            <div class="card-body">
              <h4 class="card-title">{{prudect.Name}}</h4>
              <p class="card-text"><img src="{{prudect.ImgUrl}}"></p>
              <p class="price">{{prudect.Price}}₪</p>
              <details >
                <summary>Details</summary>
                <p>{{prudect.Description}}</p>
              </details>
              <br>
              <button type="button" (click)="addToCart(prudect)">Add to Cart</button>
            </div>
          </div>
            </ng-container>
    </ng-container> 
    </div>
<app-footer></app-footer>